a:link {
    color: #EA9000;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

a:visited {
    color: #EA9000;
}

a:hover {
    color: #FFFF;
}

a:active {
    color: #FFFF;
}

a:hover {
    color: #ffff;
    background-color: rgba(234, 144, 0, 1);
}